# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
subsources
*/libs/*
mod-jars
subsources
asset_sources
*~

#
*/src/main/resources/META-INF/hardcorealchemy_at.cfg
!core/src/main/resources/META-INF/hardcorealchemy_at.cfg
