#################################
# Hardcore Alchemy Transformers #
#################################

# Accessed by custom AI that makes entities think that morphed players are actually mobs they can attack
public-f net.minecraft.entity.ai.EntityAINearestAttackableTarget field_75308_c #targetChance
public-f net.minecraft.entity.ai.EntityAINearestAttackableTarget field_75307_b #targetClass
public-f net.minecraft.entity.ai.EntityAINearestAttackableTarget field_75309_a #targetEntity
public-f net.minecraft.entity.ai.EntityAINearestAttackableTarget field_82643_g #targetEntitySelector
public-f net.minecraft.entity.ai.EntityAINearestAttackableTarget field_75306_g #theNearestAttackableTargetSorter
public-f net.minecraft.entity.ai.EntityAITarget field_75299_d #taskOwner
public-f net.minecraft.entity.ai.EntityAITarget field_75297_f #shouldCheckSight
public-f net.minecraft.entity.ai.EntityAITarget field_75303_a #nearbyOnly
public-f net.minecraft.entity.ai.EntityAITargetNonTamed field_75310_g #theTameable
public net.minecraft.entity.monster.EntitySpider$AISpiderTarget
public-f net.minecraft.entity.ai.EntityAIFindEntityNearestPlayer field_179434_b #entityLiving
public-f net.minecraft.entity.ai.EntityAIFindEntityNearestPlayer field_179432_d #sorter
public-f net.minecraft.entity.ai.EntityAIFindEntityNearestPlayer field_179435_c #predicate
public-f net.minecraft.entity.ai.EntityAIFindEntityNearestPlayer field_179433_e #entityTarget

# Used to check what item slot the mouse is currently hovering over
public net.minecraft.client.gui.inventory.GuiContainer field_147006_u #theSlot