#################################
# Hardcore Alchemy Transformers #
#################################

# Accessed by custom AI that makes entities think that morphed players are actually mobs they can attack
public-f net.minecraft.entity.ai.EntityAINearestAttackableTarget field_75308_c #targetChance
public-f net.minecraft.entity.ai.EntityAINearestAttackableTarget field_75307_b #targetClass
public-f net.minecraft.entity.ai.EntityAINearestAttackableTarget field_75309_a #targetEntity
public-f net.minecraft.entity.ai.EntityAINearestAttackableTarget field_82643_g #targetEntitySelector
public-f net.minecraft.entity.ai.EntityAINearestAttackableTarget field_75306_g #theNearestAttackableTargetSorter
public-f net.minecraft.entity.ai.EntityAITarget field_75299_d #taskOwner
public-f net.minecraft.entity.ai.EntityAITarget field_75297_f #shouldCheckSight
public-f net.minecraft.entity.ai.EntityAITarget field_75303_a #nearbyOnly
public-f net.minecraft.entity.ai.EntityAITargetNonTamed field_75310_g #theTameable
public net.minecraft.entity.monster.EntitySpider$AISpiderTarget
public-f net.minecraft.entity.ai.EntityAIFindEntityNearestPlayer field_179434_b #entityLiving
public-f net.minecraft.entity.ai.EntityAIFindEntityNearestPlayer field_179432_d #sorter
public-f net.minecraft.entity.ai.EntityAIFindEntityNearestPlayer field_179435_c #predicate
public-f net.minecraft.entity.ai.EntityAIFindEntityNearestPlayer field_179433_e #entityTarget

# Used to check what item slot the mouse is currently hovering over
public net.minecraft.client.gui.inventory.GuiContainer field_147006_u #theSlot

########################################
# ToughAsNails Workspace Compatibility #
########################################
# Taken directly from toughasnails_at.cfg; helps with IDE work

#Season colouring
public-f net.minecraft.world.biome.BiomeColorHelper field_180291_a #GRASS_COLOR
public-f net.minecraft.world.biome.BiomeColorHelper field_180289_b #FOLIAGE_COLOR
public net.minecraft.world.biome.BiomeColorHelper$ColorResolver

#Seasonal melting
public net.minecraft.world.World field_73005_l #updateLCG
public net.minecraft.block.BlockIce func_185679_b(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;)V

#Seasonal freezing
public net.minecraft.world.World func_175696_F(Lnet/minecraft/util/math/BlockPos;)Z #isWater

#####################################
# Nutrition Workspace Compatibility #
#####################################
# Taken directly from nutrition_at.cfg; helps with IDE work

# EventNutritionButton - Button positions
public net.minecraft.client.gui.inventory.GuiContainer field_147003_i # guiLeft
public net.minecraft.client.gui.inventory.GuiContainer field_147009_r # guiTop